.whale {
    background-color: aqua;
    margin-left: 30%;

}
.body {
    background: url("../images/beach.jpeg");
}


.pt1 {
	border: 2px dotted aqua;
	margin-left: 25%;
	margin-right: 25%;
	
}



}

